*{
    box-sizing: border-box;
}
body{
    width: 100vh;
    text-align: center;
    margin-right: calc((100vw / 12) * 3);
    margin-left: calc((100vw / 12) * 3);
    
}

.bricks-right{
      float: right;
}

.bricks-left{
    float: left;
}

.clear-space-left{
    clear: left;
}

.clear-space-right{
    clear: right;
}

html{
    --division: (100% /12);

}

.package-wrap{
    width: 100% ;
    height: 100vh;
    display: flow-root;
    
    
}

.package-wrap::after{
   content: "";
    clear: both;
    display: block;
}

.flat-1{
    width: calc(var(--division));
    margin-left: 20px;
}


.flat-2{
    width: calc(var(--division)*2);
}


.flat-3{
    width: calc(var(--division)*3);
}


.flat-4{
    width: calc(var(--division)*4);
}


.flat-5{
    width: calc(var(--division)*5);
}


.flat-6{
    width: calc(var(--division)*6);
}


.flat-7{
    width: calc(var(--division)*7);
}


.flat-8{
    width: calc(var(--division)*8);
}


.flat-9{
    width: calc(var(--division)*9);
}


.flat-10{
    width: calc(var(--division)*10);
}

.flat-11{
    width: calc(var(--division)*11);
}

.flat-12{
    width: 100%;
}

.floor-1{
    height: calc(var(--division)*1);
    margin-bottom: 20px;
}

.floor-2{
    height: calc(var(--division)*2);
}

.floor-3{
    height: calc(var(--division)*3);
}

.floor-4{
    height: calc(var(--division)*4);
}

.floor-5{
    height: calc(var(--division)*5);
}

.floor-6{
    height: calc(var(--division)*6);
}


.floor-7{
    height: calc(var(--division)*7);
}

.floor-8{
    height: calc(var(--division)*8);
}

.floor-9{
    height: calc(var(--division)*9);
}

.floor-10{
    height: calc(var(--division)*10);
}

.floor-11{
    height: calc(var(--division)*11);
}

.floor-12{
    height: 100%;
}

